<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>
    <add name="MyConnectionString"
         connectionString="Data Source=JEFFETIENNEPC;Initial Catalog=dbGestionnaire;User ID=sa;Password=d0m5av5pr1n9fd5;Connect Timeout=30"/>
  </connectionStrings>
</configuration>